<md-toolbar class="m-header" layout="row" layout-align="center center">

  <div class="header-content">
    <span class="logo-name">MD</span>
    <span class="logo-invoice"> TEST </span>
    <span class="logo-text"> ВОПРОСЫ ДЛЯ <br>
     ТЕСТИРВОАНИЯ БУХГАЛТЕРОВ</span>
  </div>

</md-toolbar>
