.m-point.m-point-greendot {
  background-color: @selling !important;
}

input[type='radio']{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  outline:none;
  position: relative;
}

input[type='radio']:before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid @selling;
  border-radius: 50%;
}

input[type='radio']:checked:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 10px;
  height: 10px;
  background: @selling;
  border-radius: 50%;
}

input[type=radio]:checked + label {
  color: #0093dc;
}
.task{
  margin-top: 20px;
  .title-description{
    font-weight: 500;
    color: #666;
  }
  .left-column{
    position: relative;
    float: left;
    height: 100%;
    width: 100px;
    text-align: center;
    //outline: 1px solid red;
    padding: 30px 10px;
    .price{
      padding: 3px;
      border:1px dashed @gray;
      border-radius:2px;
    }
  }
  .m-point{
    &-question{
      margin-left: -23px;
    }
  }

  .right-column{
    //outline:1px solid black;
    color: @gray;
    margin-left: 100px;
    padding: 30px 20px;
    border-left:1px solid @borderGray;
    label{
      color: @gray;
    }
    .question{
      //outline:1px solid red;
    }
  }
}

