.m-menu-documents(data-offset-top="100", bs-affix)
  .m-menu-documents-item(
  ng-click='vm.selectedTest="theory"',
  ng-class='{"m-menu-document-item-active": vm.selectedTest=="theory"}')
    img.disabled(ng-src='../assets/images/menu_icons/other/other1-reverse.svg')
    img.active(ng-src='../assets/images/menu_icons/other/other1-reverse.svg')
    md-tooltip(md-direction="bottom") Теория
  .m-menu-documents-item(
  ng-click='vm.selectedTest="practical"',
  ng-class='{"m-menu-document-item-active": vm.selectedTest=="practical"}'
  )
    img.disabled(ng-src='../assets/images/menu_icons/staff/kadry1.svg')
    img.active(ng-src='../assets/images/menu_icons/staff/kadry1-reverse.svg')
    md-tooltip(md-direction="bottom") Практика

.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
  div.m-menu-documents-item(
  ui-sref="tasks",
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/menu_icons/realisation7.svg')
    img.active(ng-src='../assets/images/menu_icons/realisation7-reverse.svg')
    md-tooltip(md-direction="bottom") Отправить

.m-row.m-document
  .m-row.m-flex
    h1.text-header(style='flex: 1;') Тесты для стажеров

    div.m-timer-style
      span(ng-show='vm.startParam&&vm.selectedTest=="theory"&&!vm.test.finishA') {{vm.timeTheory | date:'HH:mm:ss' }}
      span(ng-show='vm.selectedTest=="theory"&&vm.test.finishA') Теория сдана
      span(ng-show='vm.startParam&&vm.selectedTest=="practical"&&!vm.test.finishB') {{vm.timePractical | date:'HH:mm:ss' }}
      span(ng-show='vm.selectedTest=="practical"&&vm.test.finishB') Практика сдана

  div(ng-show='vm.selectedTest=="theory"')
      .task(ng-repeat='item in vm.test.testA')
        div.title-description
          span.m-point
          | {{item.title}}.
          | {{item.description}}
        .like-invoice-body.clear-padding
            div.left-column
                span.price {{item.price}}
            div.right-column
              div(style="display:flex;")
                .m-input-container(flex ng-show="!vm.startParam&&vm.test.finishA")
                  input(type='text' ng-show="vm.test.finishA" ng-model='item.summ')
                .m-input-container(flex, style='flex:inherit;' ng-show="!vm.startParam&&vm.test.finishA")
                  md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.setSumm(item)') Поставить оценку
                    md-tooltip(md-direction="bottom") Поставить оценку
                .m-input-container(flex)
                  a(target="_blank" ng-show="item.type=='asFile'" href='{{vm.envService.read("apiUrl")}}api/file/{{item._id}}') Ссылка на файл задания
                .m-input-container(flex)
                  input(ng-show="!vm.test.finishA&&vm.startParam&&item.type=='asFile'" type='file' ng-model='item.answer' base-sixty-four-input)
                  a(target="_blank" ng-show="vm.test.finishA&&!vm.startParam" href='{{vm.envService.read("apiUrl")}}api/attachment/{{item._id}}') Ссылка на прикрепленный файл
              div(style="display:flex;" ng-show='item.type=="table"')
                div(style='flex:1;' ng-repeat='item2 in item.columns') {{item2}}
              div( ng-show='item.type=="table"')
                div(style="display:flex;" ng-repeat='item  in item.questions')
                  div(style='flex:1;' ng-repeat='item2 in item.columns track by $index')
                    .m-input-container(flex)
                      input(type='text' ng-disabled='vm.test.finishA||!vm.startParam' ng-model='item.columns[$index]')

              div(ng-show='item.type=="theory"')
                div(ng-repeat='item in item.questions')
                  div(ng-show='item.type=="text"')
                    div.question
                      span.m-point.m-point-question
                      | {{($index+1)+". "+item.question}}
                    div.m-row.m-flex
                      .m-input-container(flex)
                        input(type='text' ng-disabled='vm.test.finishA||!vm.startParam' ng-model='item.answer')
                  div(ng-show='item.type=="test"')
                    div.question
                      span.m-point.m-point-question
                      |{{($index+1)+". "+item.question}}
                    div.m-row(ng-repeat='answer in item.answers')
                      .radio
                        label
                          input(type='radio' ng-disabled='vm.test.finishA||!vm.startParam' ng-model='item.answer' ng-value="answer")
                          | {{answer}}

      div(style="display:flex;")
        md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.closeTestA(vm.test)') Ответить



  div(ng-show='vm.selectedTest=="practical"')
    .task(ng-repeat='item in vm.test.testB')
      div.title-description
        span.m-point
        | {{item.title}}.
        | {{item.description}}
      .like-invoice-body.clear-padding
        div.left-column
          span.price {{item.price}}
        div.right-column
          .m-flex
            .m-input-container(flex ng-show="!vm.startParam&&vm.test.finishA")
              input(type='text' ng-show="vm.test.finishA" ng-model='item.summ')
            .m-input-container(flex, style='flex:inherit;' ng-show="!vm.startParam&&vm.test.finishA")
              md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.setSumm(item)') Поставить оценку
                md-tooltip(md-direction="bottom") Поставить оценку

          input(ng-show="!vm.test.finishB&&vm.startParam" type='file' ng-model='item.answer' base-sixty-four-input)

          a(target="_blank" ng-show="vm.test.finishB&&!vm.startParam" href='{{vm.envService.read("apiUrl")}}api/attachment/{{item._id}}') Ссылка на прикрепленный файл


          div(ng-show='item.type=="practical"')
            div(ng-repeat='item in item.questions')
              div(ng-show='item.type=="text"')
                div.question
                  span.m-point.m-point-question
                  | {{($index+1)+". "+item.question}}
                div.m-row.m-flex
                  .m-input-container(flex)
                    input(type='text' ng-disabled='vm.test.finishB||!vm.startParam' ng-model='item.answer')
              div(ng-show='item.type=="test"')
                div.question
                  span.m-point.m-point-question
                  | {{($index+1)+". "+item.question}}
                div.m-row(ng-repeat='answer in item.answers')
                  .radio
                    label
                      input(type='radio' ng-disabled='vm.test.finishB||!vm.startParam' ng-model='item.answer' ng-value="answer")
                      | {{answer}}

    div(style="display:flex;")
      md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.closeTestB(vm.test)') Ответить
















