<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <div class="m-container documents">
      <div ui-view class=" view"></div>
    </div>

    <m-footer></m-footer>
  </md-content>

</div>
