.m-menu-documents(data-offset-top="100", bs-affix)
  .m-menu-documents-item(
  ui-sref='userTest',
  ng-class='{"m-menu-document-item-active": false}')
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Стажеры
  .m-menu-documents-item(
  ui-sref='test',
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Тесты

.m-row.m-document
  .m-row.m-flex
    h1.text-header(style='flex: 1;') Тест

    //div.m-timer-style Крассивый таймер

  //.like-invoice-title Список стажеров


  //.m-table.like-invoice-body-clear-left-top-padding
    .m-row.m-table-row(ng-show='vm.tests.length==0', style='text-aling: center;') Тестов нет
    .m-row.m-table-row.m-flex(layout='row', ng-repeat='item in vm.tests ', ui-sref='userTestDetail({id:item._id})')
      .m-input-container(flex) {{item.name}}
      .m-input-container(flex) {{item.email}}
      .m-input-container(flex) {{item.test.name}}


  .like-invoice-title Заполнение теста

  .m-table.like-invoice-body
    div.m-row.m-flex
      .m-input-container(flex)
        input(type='text' placeholder='Название теста' ng-model='vm.test.name')

    .like-invoice-title Теория
    .m-table.like-invoice-body
      div(ng-repeat='item in vm.test.testA')
        div.m-row.m-flex
          .m-input-container(flex)
            input(type='text' placeholder='Заголовок задачи' ng-model='item.title')
          .m-input-container(flex)
            input(type='text' placeholder='Описание задачи' ng-model='item.description')
          .m-input-container(flex)
            input(type='text' placeholder='Цена задачи' ng-model='item.price')
          .m-input-container(flex, style='flex:inherit;')
            button.m-select(
            style='padding-left: 0px;min-width: 65px;text-align: left; ',
            type='button',
            ng-model='item.type',
            placeholder='',
            data-html='1',
            data-toggle='true',
            bs-options='item.value as item.label for item in vm.typeTask',
            bs-select='')
              span.caret
          .m-input-container(flex, style='flex:inherit;')
            md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.test.testA.splice($index,1)') Удалить задачу
              md-tooltip(md-direction="bottom") Удалить задачу
        div.m-row.m-flex
          .m-input-container(flex, style='flex:inherit;')
            button.m-select(
            style='padding-left: 0px;min-width: 65px;text-align: left; ',
            type='button',
            ng-model='item.responsible',
            placeholder='',
            data-html='1',
            data-toggle='true',
            bs-options='item.value as item.label for item in vm.users',
            bs-select='')
              span.caret
          .m-input-container(flex)
            input(ng-show="item.type=='asFile'" type='file' ng-model='item.file' base-sixty-four-input)

        .like-invoice-title(ng-show='item.type=="table"') Заглавные столбцы
        .like-invoice-body(ng-show='item.type=="table"')
          div(ng-repeat='column in item.columns track by $index')
            div.m-row.m-flex
              .m-input-container(flex)
                input(type='text' placeholder='Колонка' ng-model='item.columns[$index]')
              .m-input-container(flex, style='flex:inherit;')
                md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.columns.splice($index,1)') Удалить столбец
                  md-tooltip(md-direction="bottom") Удалить столбец у вопроса
          div.m-row.m-flex
            md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.columns.push("")') Добавить
              md-tooltip(md-direction="bottom") Добавить столбец в шапку

        .like-invoice-title Вопросы
          .like-invoice-body
            div(ng-repeat='question in item.questions track by $index')
              .like-invoice-title Вопрос {{$index+1}}
              div.m-row.m-flex
                .m-input-container(flex, ng-show="question.type!='table'")
                  input(type='text' placeholder='Вопрос' ng-model='question.question')
                .m-input-container(flex, style='flex:inherit;')
                  button.m-select(
                  style='padding-left: 0px;min-width: 65px;text-align: left; ',
                  type='button',
                  ng-model='question.type',
                  placeholder='',
                  data-html='1',
                  data-toggle='true',
                  bs-options='item.value as item.label for item in vm.typeQuestion',
                  bs-select='')
                    span.caret
                .m-input-container(flex, style='flex:inherit;')
                  md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.questions.splice($index,1)') Удалить вопрос
                    md-tooltip(md-direction="bottom") Удалить вопрос

              .like-invoice-title(ng-show='question.type=="test"') Ответы
              .like-invoice-body(ng-show='question.type=="test"')
                div.m-row.m-flex(ng-repeat='answer in question.answers track by $index')
                  .m-input-container(flex)
                    input(type='text' placeholder='Ответ' ng-model='question.answers[$index]')
                  .m-input-container(flex, style='flex:inherit;')
                    md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.answers.splice($index,1)') Удалить ответ
                      md-tooltip(md-direction="bottom") Удалить ответ у вопроса
                div.m-row.m-flex
                  md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.answers.push("")') Добавить ответ
                    md-tooltip(md-direction="bottom") Добавить ответ у вопроса

              .like-invoice-title(ng-show='question.type=="table"') Столбцы
              .like-invoice-body(ng-show='question.type=="table"')
                div.m-row.m-flex(ng-repeat='column in question.columns track by $index')
                  .m-input-container(flex)
                    input(type='text' placeholder='Столбец' ng-model='question.columns[$index]')
                  .m-input-container(flex, style='flex:inherit;')
                    md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.columns.splice($index,1)') Удалить столбец
                      md-tooltip(md-direction="bottom") Удалить столбец у вопроса
                div.m-row.m-flex
                  md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.columns.push("")') Добавить столбец
                    md-tooltip(md-direction="bottom") Добавить столбец к вопросу
            div.m-row.m-flex
              md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.questions.push({ answers:[], columns:[]})') Добавить вопрос
                md-tooltip(md-direction="bottom") Добавить вопрос к задаче




      .m-input-container(flex, style='flex:inherit;')
        md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.test.testA.push({type:"table", questions: [], columns: []})') Добавить задачу
          md-tooltip(md-direction="bottom") Добавить задачу

    .like-invoice-title Практика
      .m-table.like-invoice-body
        div(ng-repeat='item in vm.test.testB')
          div.m-row.m-flex
            .m-input-container(flex)
              input(type='text' placeholder='Заголовок задачи' ng-model='item.title')
            .m-input-container(flex)
              input(type='text' placeholder='Описание задачи' ng-model='item.description')
            .m-input-container(flex)
              input(type='text' placeholder='Цена задачи' ng-model='item.price')
            .m-input-container(flex, style='flex:inherit;')
              button.m-select(
              style='padding-left: 0px;min-width: 65px;text-align: left; ',
              type='button',
              ng-model='item.type',
              placeholder='',
              data-html='1',
              data-toggle='true',
              bs-options='item.value as item.label for item in vm.typeTask',
              bs-select='')
                span.caret
            .m-input-container(flex, style='flex:inherit;')
              md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.test.testB.splice($index,1)') Удалить задачу
                md-tooltip(md-direction="bottom") Удалить задачу
          div.m-row.m-flex
            .m-input-container(flex, style='flex:inherit;')
              button.m-select(
              style='padding-left: 0px;min-width: 65px;text-align: left; ',
              type='button',
              ng-model='item.responsible',
              placeholder='',
              data-html='1',
              data-toggle='true',
              bs-options='item.value as item.label for item in vm.users',
              bs-select='')
                span.caret
            .m-input-container(flex)
              input(ng-show="item.type=='asFile'" type='file' ng-model='item.file' base-sixty-four-input)

          .like-invoice-title(ng-show='item.type=="table"') Заглавные столбцы
          .like-invoice-body(ng-show='item.type=="table"')
            div(ng-repeat='column in item.columns track by $index')
              div.m-row.m-flex
                .m-input-container(flex)
                  input(type='text' placeholder='Колонка' ng-model='item.columns[$index]')
                .m-input-container(flex, style='flex:inherit;')
                  md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.columns.splice($index,1)') Удалить столбец
                    md-tooltip(md-direction="bottom") Удалить столбец у вопроса
            div.m-row.m-flex
              md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.columns.push("")') Добавить
                md-tooltip(md-direction="bottom") Добавить столбец в шапку

          .like-invoice-title Вопросы
            .like-invoice-body
              div(ng-repeat='question in item.questions track by $index')
                .like-invoice-title Вопрос {{$index+1}}
                div.m-row.m-flex
                  .m-input-container(flex, ng-show="question.type!='table'")
                    input(type='text' placeholder='Вопрос' ng-model='question.question')
                  .m-input-container(flex, style='flex:inherit;')
                    button.m-select(
                    style='padding-left: 0px;min-width: 65px;text-align: left; ',
                    type='button',
                    ng-model='question.type',
                    placeholder='',
                    data-html='1',
                    data-toggle='true',
                    bs-options='item.value as item.label for item in vm.typeQuestion',
                    bs-select='')
                      span.caret
                  .m-input-container(flex, style='flex:inherit;')
                    md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.questions.splice($index,1)') Удалить вопрос
                      md-tooltip(md-direction="bottom") Удалить вопрос

                .like-invoice-title(ng-show='question.type=="test"') Ответы
                .like-invoice-body(ng-show='question.type=="test"')
                  div.m-row.m-flex(ng-repeat='answer in question.answers track by $index')
                    .m-input-container(flex)
                      input(type='text' placeholder='Ответ' ng-model='question.answers[$index]')
                    .m-input-container(flex, style='flex:inherit;')
                      md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.answers.splice($index,1)') Удалить ответ
                        md-tooltip(md-direction="bottom") Удалить ответ у вопроса
                  div.m-row.m-flex
                    md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.answers.push("")') Добавить ответ
                      md-tooltip(md-direction="bottom") Добавить ответ у вопроса

                .like-invoice-title(ng-show='question.type=="table"') Столбцы
                .like-invoice-body(ng-show='question.type=="table"')
                  div.m-row.m-flex(ng-repeat='column in question.columns track by $index')
                    .m-input-container(flex)
                      input(type='text' placeholder='Столбец' ng-model='question.columns[$index]')
                    .m-input-container(flex, style='flex:inherit;')
                      md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.columns.splice($index,1)') Удалить столбец
                        md-tooltip(md-direction="bottom") Удалить столбец у вопроса
                  div.m-row.m-flex
                    md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='question.columns.push("")') Добавить столбец
                      md-tooltip(md-direction="bottom") Добавить столбец к вопросу
              div.m-row.m-flex
                md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='item.questions.push({ answers:[], columns:[]})') Добавить вопрос
                  md-tooltip(md-direction="bottom") Добавить вопрос к задаче




        .m-input-container(flex, style='flex:inherit;')
          md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.test.testB.push({type:"table", questions: [], columns: []})') Добавить задачу
            md-tooltip(md-direction="bottom") Добавить задачу




    div.m-row.m-flex
      md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.saveTest(vm.test)') Добавить тест










