
.m-menu-documents(data-offset-top="100", bs-affix)
  .m-menu-documents-item(
  ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
  ng-class='{"m-menu-document-item-active": true}')
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Стажеры
  .m-menu-documents-item(
  ui-sref='test',
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Тесты

.m-row.m-document
    .m-row.m-flex
      h1.text-header(style='flex: 1;') Список тестов стажеров

      //div.m-timer-style Крассивый таймер

    .like-invoice-title Список стажеров


    .m-table.like-invoice-body-clear-left-top-padding
      .m-row.m-table-row(ng-show='vm.tests.length==0', style='text-aling: center;') Тестов нет
      .m-row.m-table-row.m-flex(layout='row', ng-repeat='item in vm.tests ', ui-sref='userTestDetail({id:item._id})')
        .m-input-container(flex) {{item.name}}
        .m-input-container(flex) {{item.email}}
        .m-input-container(flex) {{item.test.name}}
        .m-input-container(flex, style='flex:inherit;')
          md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='$event.stopPropagation();vm.sendEmail(item)') Отправить оценки


    .like-invoice-title Добавление стажера для теста


    .m-table.like-invoice-body
      div.m-row.m-flex
        .m-input-container(flex)
          input(type='text' placeholder='Имя' ng-model='vm.newUser.name')
        .m-input-container(flex)
          input(type='text' placeholder='Email' ng-model='vm.newUser.email')
        .m-input-container(flex, style='flex:inherit;')
          button.m-select(
          style='padding-left: 0px;min-width: 65px;text-align: left; ',
          type='button',
          ng-model='vm.newUser.test',
          placeholder='',
          data-html='1',
          data-toggle='true',
          bs-options='item.value as item.label for item in vm.typeTests',
          bs-select='')
            span.caret

      div.m-row.m-flex
        md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.addTester(vm.newUser)') Добавить










