.m-menu-documents(data-offset-top="100", bs-affix)
  .m-menu-documents-item(
  ui-sref='userTest',
  ng-class='{"m-menu-document-item-active": false}')
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Стажеры
  .m-menu-documents-item(
  ui-sref='test',
  ng-class='{"m-menu-document-item-active": true}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Тесты

.m-row.m-document
  .m-row.m-flex
    h1.text-header(style='flex: 1;') Список тестов

    //div.m-timer-style Крассивый таймер

  .like-invoice-title Список тестов


  .m-table.like-invoice-body-clear-left-top-padding
    .m-row.m-table-row(ng-show='vm.tests.length==0', style='text-aling: center;') Тестов нет
    .m-row.m-table-row.m-flex(layout='row', ng-repeat='item in vm.tests ', ui-sref='testDetail({id:item._id})')
      .m-input-container(flex) {{item.name}}
      .m-input-container(flex) {{item.email}}
      .m-input-container(flex) {{item.test.name}}

    div.m-row.m-flex
      md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ui-sref='testDetail({id:"new"})') Добавить














